* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
}

.calendar-screen {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.rbc-row.rbc-month-header .rbc-header, .rbc-toolbar-label, .rbc-agenda-date-cell {
  text-transform: Capitalize;
}

